<!DOCTYPE html>

<script language="javascript">
function is_mobile() {
    var regex_match = /(nokia|iphone|android|motorola|^mot-|softbank|foma|docomo|kddi|up.browser|up.link|htc|dopod|blazer|netfront|helio|hosin|huawei|novarra|CoolPad|webos|techfaith|palmsource|blackberry|alcatel|amoi|ktouch|nexian|samsung|^sam-|s[cg]h|^lge|ericsson|philips|sagem|wellcom|bunjalloo|maui|symbian|smartphone|midp|wap|phone|windows ce|iemobile|^spice|^bird|^zte-|longcos|pantech|gionee|^sie-|portalmmm|jigs browser|hiptop|^benq|haier|^lct|operas*mobi|opera*mini|320x320|240x320|176x220)/i;
  var u = navigator.userAgent;
  if (null == u) {
   return true;
  }
  var result = regex_match.exec(u);

  if (null == result) {
   return false
  } else {
   return true
  }
 }

 function MobileOrPc() {
   if (is_mobile()) {
    document.getElementById('demo').src="static/images/paperForMobile.png";
   }
 }

</script>

<html lang="en">
  <head>
    <title>Raising At Ease</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{%static "images/paperForMobile.png"  %}" />
  </head>
  <body style="background: #000; margin:0px; padding:0px;" onload="MobileOrPc()">
	  <a href="static/RAE.pdf"><img id="demo" style="width: 100%" src="static/images/paperForPc.png"></img></a>
  </body>
</html>
