<!DOCTYPE html>

<script language="javascript">
function is_mobile() {
    var regex_match = /(nokia|iphone|android|motorola|^mot-|softbank|foma|docomo|kddi|up.browser|up.link|htc|dopod|blazer|netfront|helio|hosin|huawei|novarra|CoolPad|webos|techfaith|palmsource|blackberry|alcatel|amoi|ktouch|nexian|samsung|^sam-|s[cg]h|^lge|ericsson|philips|sagem|wellcom|bunjalloo|maui|symbian|smartphone|midp|wap|phone|windows ce|iemobile|^spice|^bird|^zte-|longcos|pantech|gionee|^sie-|portalmmm|jigs browser|hiptop|^benq|haier|^lct|operas*mobi|opera*mini|320x320|240x320|176x220)/i;
  var u = navigator.userAgent;
  if (null == u) {
   return true;
  }
  var result = regex_match.exec(u);

  if (null == result) {
   return false
  } else {
   return true
  }
 }

 function MobileOrPc() {
   if (is_mobile()) {
    document.getElementById('demo').src="static/images/paperForMobile.png";
   }
 }

</script>

<style>
	*{
		margin: 0;
		padding: 0;
	}
	img{
		width: 100%;
		display: block;
	}
	div{
		position: relative;
	}
	span{
		position: absolute;
		top: 15%;
		left: 45%;
		width: 12rem;
		margin-left: -1.5rem;
		color: #fff;
		text-align: center;
		font-size: 0.8rem;
		line-height: 1rem;
		border: 1px solid #fff;
		border-radius: 10px;
		cursor: pointer;
	}
</style>

<html lang="en">
  <head>
    <title>Raising At Ease</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{%static "paperForMobile.png"  %}" />
  </head>
  <body style="font-size" onload="MobileOrPc()">
    <div>
	  <img id="demo" style="width: 100%" src="static/paperForPc.png" alt>
    <span onclick="location.href='static/RAE.pdf'">white paper project</span>
    </div>
  </body>
</html>
